--- 
http_interactions: 
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/AdaptivePayments/get_payment_options
    body: 
      encoding: UTF-8
      string: "{\"payKey\":\"AP-9814311890247774Y\",\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 500
      message: Internal Server Error
    headers: 
      X-Ebay-Soa-Request-Id: 
      - 13c14466-aa10-a486-d630-a7f0ffc745ea!AdaptivePayments!10.72.109.99![]
      X-Paypal-Operation-Name: 
      - get_payment_options
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/ap}AdaptivePayments"
      X-Ebay-Soa-Message-Protocol: 
      - NONE
      X-Ebay-Soa-Response-Data-Format: 
      - JSON
      X-Paypal-Service-Version: 
      - 1.0.0
      X-Paypal-Error-Response: 
      - "TRUE"
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: Internal server error. Please check the server logs for details
  recorded_at: Mon, 07 Jan 2013 09:10:24 GMT
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/AdaptivePayments/Pay
    body: 
      encoding: UTF-8
      string: "{\"receiverList\":{\"receiver\":[{\"email\":\"chardy_1345003248_per@gmail.com\",\"amount\":40.0}]},\"currencyCode\":\"USD\",\"cancelUrl\":\"http://example.com/cancel\",\"returnUrl\":\"http://example.com/thank_you\",\"actionType\":\"CREATE\",\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Ebay-Soa-Request-Id: 
      - 13c15965-27b0-a486-d630-a7f0ffc72525!AdaptivePayments!10.72.109.99![]
      X-Paypal-Operation-Name: 
      - Pay
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/ap}AdaptivePayments"
      X-Ebay-Soa-Message-Protocol: 
      - NONE
      X-Ebay-Soa-Response-Data-Format: 
      - JSON
      X-Paypal-Service-Version: 
      - 1.0.0
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-01-07T07:17:19.378-08:00\",\"ack\":\"Success\",\"correlationId\":\"8b15b273e88cd\",\"build\":\"4110101\"},\"payKey\":\"AP-48L49333WV3886250\",\"paymentExecStatus\":\"CREATED\"}"
  recorded_at: Mon, 07 Jan 2013 15:17:19 GMT
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/AdaptivePayments/GetPaymentOptions
    body: 
      encoding: UTF-8
      string: "{\"payKey\":\"AP-48L49333WV3886250\",\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Ebay-Soa-Request-Id: 
      - 13c15965-cea0-a486-d630-a7f0ffc72523!AdaptivePayments!10.72.109.99![]
      X-Paypal-Operation-Name: 
      - GetPaymentOptions
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/ap}AdaptivePayments"
      X-Ebay-Soa-Message-Protocol: 
      - NONE
      X-Ebay-Soa-Response-Data-Format: 
      - JSON
      X-Paypal-Service-Version: 
      - 1.0.0
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-01-07T07:17:21.791-08:00\",\"ack\":\"Success\",\"correlationId\":\"526349eae8652\",\"build\":\"4110101\"}}"
  recorded_at: Mon, 07 Jan 2013 15:17:22 GMT
recorded_with: VCR 2.3.0
