--- 
http_interactions: 
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/Invoice/CreateInvoice
    body: 
      encoding: UTF-8
      string: "{\"invoice\":{\"merchantEmail\":\"chardy_1345003248_per@gmail.com\",\"payerEmail\":\"chardy_1345003165_per@gmail.com\",\"itemList\":{\"item\":[{\"name\":\"iPhone 5\",\"quantity\":1,\"unitPrice\":1000.0}]},\"currencyCode\":\"USD\",\"paymentTerms\":\"Net30\"},\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Paypal-Message-Protocol: 
      - NONE
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Ebay-Soa-Request-Id: 
      - 13c77769-b4d0-a486-d637-6877ffffff78!Invoice!10.72.109.99![]
      X-Paypal-Operation-Name: 
      - CreateInvoice
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/pt}Invoice"
      X-Paypal-Service-Version: 
      - 1.0.0
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-01-26T07:25:28.445-08:00\",\"ack\":\"Success\",\"correlationId\":\"0be0068f69bca\",\"build\":\"4120519\"},\"invoiceID\":\"INV2-3RB8-VEVH-38EV-ZQ27\",\"invoiceNumber\":\"0014\",\"invoiceURL\":\"https:\\/\\/www.sandbox.paypal.com\\/us\\/cgi-bin\\/?cmd=_inv-details&id=INV2-3RB8-VEVH-38EV-ZQ27\",\"totalAmount\":\"100000\"}"
  recorded_at: Sat, 26 Jan 2013 15:25:28 GMT
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/Invoice/SendInvoice
    body: 
      encoding: UTF-8
      string: "{\"invoiceID\":\"INV2-3RB8-VEVH-38EV-ZQ27\",\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEP[...]
