--- 
http_interactions: 
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/Invoice/CreateInvoice
    body: 
      encoding: UTF-8
      string: "{\"invoice\":{\"merchantEmail\":\"chardy_1345003248_per@gmail.com\",\"payerEmail\":\"chardy_1345003165_per@gmail.com\",\"itemList\":{\"item\":[{\"name\":\"iPhone 5\",\"quantity\":1,\"unitPrice\":1000.0}]},\"currencyCode\":\"USD\",\"paymentTerms\":\"Net30\"},\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Paypal-Message-Protocol: 
      - NONE
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Ebay-Soa-Request-Id: 
      - 13c7c8b8-3790-a486-d637-6877fffffed8!Invoice!10.72.109.99![]
      X-Paypal-Operation-Name: 
      - CreateInvoice
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/pt}Invoice"
      X-Paypal-Service-Version: 
      - 1.0.0
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-01-27T07:06:24.604-08:00\",\"ack\":\"Success\",\"correlationId\":\"d3046925b825d\",\"build\":\"4120519\"},\"invoiceID\":\"INV2-R5V3-4W37-YH3X-PX25\",\"invoiceNumber\":\"0022\",\"invoiceURL\":\"https:\\/\\/www.sandbox.paypal.com\\/us\\/cgi-bin\\/?cmd=_inv-details&id=INV2-R5V3-4W37-YH3X-PX25\",\"totalAmount\":\"100000\"}"
  recorded_at: Sun, 27 Jan 2013 15:06:24 GMT
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/Invoice/UpdateInvoice
    body: 
      encoding: UTF-8
      string: "{\"invoiceID\":\"INV2-R5V3-4W37-YH3X-PX25\",\"invoice\":{\"merchantEmail\":\"chardy_1345003248_per@gmail.com\",\"payerEmail\":\"chardy_1345003165_per@gmail.com\",\"itemList\":{\"item\":[{\"name\":\"iPhone 5\",\"quantity\":1,\"unitPrice\":1000.0}]},\"currencyCode\":\"USD\",\"paymentTerms\":null,\"response\":{\"responseEnvelope\":{\"timestamp\":\"2013-01-27T07:06:24.604-08:00\",\"ack\":\"Success\",\"correlationId\":\"d3046925b825d\",\"build\":\"4120519\"},\"invoiceId\":\"INV2-R5V3-4W37-YH3X-PX25\",\"invoiceNumber\":\"0022\",\"invoiceUrl\":\"https://www.sandbox.paypal.com/us/cgi-bin/?cmd=_inv-details&id=INV2-R5V3-4W37-YH3X-PX25\",\"totalAmount\":\"100000\"},\"invoiceId\":\"INV2-R5V3-4W37-YH3X-PX25\"},\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Paypal-Message-Protocol: 
      - NONE
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Ebay-Soa-Request-Id: 
      - 13c7c8b8-f110-a486-d637-6877fffffed7!Invoice!10.72.109.99![]
      X-Paypal-Operation-Name: 
      - UpdateInvoice
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/pt}Invoice"
      X-Paypal-Service-Version: 
      - 1.0.0
      X-Paypal-Error-Response: 
      - "TRUE"
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-01-27T07:06:26.727-08:00\",\"ack\":\"Failure\",\"correlationId\":\"28d0d8b4b8e39\",\"build\":\"4120519\"},\"error\":[{\"errorId\":\"580022\",\"domain\":\"PLATFORM\",\"subdomain\":\"Application\",\"severity\":\"Error\",\"category\":\"Application\",\"message\":\"Invalid request parameter: paymentTerms cannot be null\",\"parameter\":[\"paymentTerms\",\"null\"]}]}"
  recorded_at: Sun, 27 Jan 2013 15:06:26 GMT
recorded_with: VCR 2.3.0
