--- 
http_interactions: 
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/Invoice/CreateInvoice
    body: 
      encoding: UTF-8
      string: "{\"invoice\":{\"merchantEmail\":\"chardy_1345003248_per@gmail.com\",\"payerEmail\":\"chardy_1345003165_per@gmail.com\",\"itemList\":{\"item\":[{\"name\":\"iPhone 5\",\"quantity\":1,\"unitPrice\":1000.0}]},\"currencyCode\":\"USD\",\"paymentTerms\":\"Net30\"},\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Paypal-Message-Protocol: 
      - NONE
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Ebay-Soa-Request-Id: 
      - 13c7c7d9-a820-a486-d637-6877fffffedf!Invoice!10.72.109.99![]
      X-Paypal-Operation-Name: 
      - CreateInvoice
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/pt}Invoice"
      X-Paypal-Service-Version: 
      - 1.0.0
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-01-27T06:51:13.080-08:00\",\"ack\":\"Success\",\"correlationId\":\"dbf18059d9ba2\",\"build\":\"4120519\"},\"invoiceID\":\"INV2-JZRK-UEZC-UPEN-Y5N7\",\"invoiceNumber\":\"0019\",\"invoiceURL\":\"https:\\/\\/www.sandbox.paypal.com\\/us\\/cgi-bin\\/?cmd=_inv-details&id=INV2-JZRK-UEZC-UPEN-Y5N7\",\"totalAmount\":\"100000\"}"
  recorded_at: Sun, 27 Jan 2013 14:51:13 GMT
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/Invoice/UpdateInvoice
    body: 
      encoding: UTF-8
      string: "{\"invoiceID\":\"INV2-JZRK-UEZC-UPEN-Y5N7\",\"invoice\":{\"merchantEmail\":\"chardy_1345003248_per@gmail.com\",\"payerEmail\":\"chardy_1345003165_per@gmail.com\",\"itemList\":{\"item\":[{\"name\":\"iPhone 5\",\"quantity\":1,\"unitPrice\":1000.0}]},\"currencyCode\":\"USD\",\"paymentTerms\":\"Net10\",\"response\":{\"responseEnvelope\":{\"timestamp\":\"2013-01-27T06:51:13.080-08:00\",\"ack\":\"Success\",\"correlationId\":\"dbf18059d9ba2\",\"build\":\"4120519\"},\"invoiceId\":\"INV2-JZRK-UEZC-UPEN-Y5N7\",\"invoiceNumber\":\"0019\",\"invoiceUrl\":\"https://www.sandbox.paypal.com/us/cgi-bin/?cmd=_inv-details&id=INV2-JZRK-UEZC-UPEN-Y5N7\",\"totalAmount\":\"100000\"},\"invoiceId\":\"INV2-JZRK-UEZC-UPEN-Y5N7\"},\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal[...]
