--- 
http_interactions: 
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/AdaptivePayments/ExecutePayment
    body: 
      encoding: UTF-8
      string: "{\"payKey\":\"AP-5C085958M3074971R\",\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Ebay-Soa-Request-Id: 
      - 13c5d98c-bae0-a486-d636-a986fff666e3!AdaptivePayments!10.72.109.99![]
      X-Paypal-Operation-Name: 
      - ExecutePayment
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/ap}AdaptivePayments"
      X-Ebay-Soa-Message-Protocol: 
      - NONE
      X-Ebay-Soa-Response-Data-Format: 
      - JSON
      X-Paypal-Service-Version: 
      - 1.0.0
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-01-21T06:52:45.501-08:00\",\"ack\":\"Success\",\"correlationId\":\"bc1d841b152b2\",\"build\":\"4923149\"},\"paymentExecStatus\":\"COMPLETED\"}"
  recorded_at: Mon, 21 Jan 2013 14:52:45 GMT
recorded_with: VCR 2.3.0
