--- 
http_interactions: 
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/Invoice/CreateAndSendInvoice
    body: 
      encoding: UTF-8
      string: "{\"invoice\":{\"merchantEmail\":\"chardy_1345003248_per@gmail.com\",\"payerEmail\":\"chardy_1345003165_per@gmail.com\",\"itemList\":{\"item\":[{\"name\":\"iPhone 5\",\"quantity\":1,\"unitPrice\":1000.0}]},\"currencyCode\":\"USD\",\"paymentTerms\":\"Net30\"},\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Paypal-Message-Protocol: 
      - NONE
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Ebay-Soa-Request-Id: 
      - 13d40519-0ea0-a486-d663-1ec3ffff076b!Invoice!10.72.109.102![]
      X-Paypal-Operation-Name: 
      - CreateAndSendInvoice
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/pt}Invoice"
      X-Paypal-Service-Version: 
      - 1.0.0
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-03-06T07:28:41.969-08:00\",\"ack\":\"Success\",\"correlationId\":\"a9f0c0fb1687e\",\"build\":\"5312794\"},\"invoiceID\":\"INV2-CKMB-2HMY-MKCJ-6N8D\",\"invoiceNumber\":\"0139\",\"invoiceURL\":\"https:\\/\\/www.sandbox.paypal.com\\/us\\/cgi-bin\\/?cmd=_inv-details&id=INV2-CKMB-2HMY-MKCJ-6N8D\",\"totalAmount\":\"100000\"}"
  recorded_at: Wed, 06 Mar 2013 15:28:42 GMT
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/Invoice/MarkInvoiceAsPaid
    body: 
      encoding: UTF-8
      string: "{\"invoiceID\":\"INV2-CKMB-2HMY-MKCJ-6N8D\",\"payment\":{\"method\":\"Cash\",\"date\":\"2013-03-06\"},\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Paypal-Message-Protocol: 
      - NONE
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Ebay-Soa-Request-Id: 
      - 13d40519-e100-a486-d630-b8e0ffff03c7!Invoice!10.72.109.99![]
      X-Paypal-Operation-Name: 
      - MarkInvoiceAsPaid
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/pt}Invoice"
      X-Paypal-Service-Version: 
      - 1.0.0
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-03-06T07:28:43.987-08:00\",\"ack\":\"Success\",\"correlationId\":\"f8b41f1916228\",\"build\":\"5312794\"},\"invoiceID\":\"INV2-CKMB-2HMY-MKCJ-6N8D\",\"invoiceNumber\":\"0139\",\"invoiceURL\":\"https:\\/\\/www.sandbox.paypal.com\\/us\\/cgi-bin\\/?cmd=_inv-details&id=INV2-CKMB-2HMY-MKCJ-6N8D\"}"
  recorded_at: Wed, 06 Mar 2013 15:28:44 GMT
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/Invoice/MarkInvoiceAsRefunded
    body: 
      encoding: UTF-8
      string: "{\"invoiceID\":\"INV2-CKMB-2HMY-MKCJ-6N8D\",\"refundDetail\":{\"date\":\"2013-03-06\",\"note\":\"Refunded\"},\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Paypal-Message-Protocol: 
      - NONE
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Ebay-Soa-Request-Id: 
      - 13d4051a-5b20-a486-d663-1ec3ffff075f!Invoice!10.72.109.102![]
      X-Paypal-Operation-Name: 
      - MarkInvoiceAsRefunded
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/pt}Invoice"
      X-Paypal-Service-Version: 
      - 1.0.0
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-03-06T07:28:45.956-08:00\",\"ack\":\"Success\",\"correlationId\":\"aad8d6fe15d12\",\"build\":\"5312794\"},\"invoiceID\":\"INV2-CKMB-2HMY-MKCJ-6N8D\",\"invoiceNumber\":\"0139\",\"invoiceURL\":\"https:\\/\\/www.sandbox.paypal.com\\/us\\/cgi-bin\\/?cmd=_inv-details&id=INV2-CKMB-2HMY-MKCJ-6N8D\"}"
  recorded_at: Wed, 06 Mar 2013 15:28:46 GMT
recorded_with: VCR 2.3.0
