--- 
http_interactions: 
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/AdaptivePayments/CancelPreapproval
    body: 
      encoding: UTF-8
      string: "{\"preapprovalKey\":\"PA-8XG728465U8814621\",\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Ebay-Soa-Request-Id: 
      - 13c15df5-cbb0-a486-d630-a7f0ffc71d8d!AdaptivePayments!10.72.109.99![]
      X-Paypal-Operation-Name: 
      - CancelPreapproval
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/ap}AdaptivePayments"
      X-Ebay-Soa-Message-Protocol: 
      - NONE
      X-Ebay-Soa-Response-Data-Format: 
      - JSON
      X-Paypal-Service-Version: 
      - 1.0.0
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-01-07T08:37:05.613-08:00\",\"ack\":\"Success\",\"correlationId\":\"b9c88ed07bef5\",\"build\":\"4110101\"}}"
  recorded_at: Mon, 07 Jan 2013 16:37:05 GMT
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/AdaptivePayments/Preapproval
    body: 
      encoding: UTF-8
      string: "{\"clientDetails\":{\"ipAddress\":\"234.8.8.18\",\"deviceId\":\"123456\",\"applicationId\":\"PP\"},\"startingDate\":\"2013-01-08T00:00:00Z\",\"currencyCode\":\"USD\",\"maxTotalAmountOfAllPayments\":2000.0,\"cancelUrl\":\"http://example.com/cancel\",\"returnUrl\":\"http://example.com/return\",\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Ebay-Soa-Request-Id: 
      - 13c15dfe-b260-a486-d630-a7f0ffc71d7b!AdaptivePayments!10.72.109.99![]
      X-Paypal-Operation-Name: 
      - Preapproval
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/ap}AdaptivePayments"
      X-Ebay-Soa-Message-Protocol: 
      - NONE
      X-Ebay-Soa-Response-Data-Format: 
      - JSON
      X-Paypal-Service-Version: 
      - 1.0.0
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-01-07T08:37:42.137-08:00\",\"ack\":\"Success\",\"correlationId\":\"0f87d64870946\",\"build\":\"4110101\"},\"preapprovalKey\":\"PA-85D74798TX339002G\"}"
  recorded_at: Mon, 07 Jan 2013 16:37:42 GMT
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/AdaptivePayments/PreapprovalDetails
    body: 
      encoding: UTF-8
      string: "{\"preapprovalKey\":\"PA-85D74798TX339002G\",\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Ebay-Soa-Request-Id: 
      - 13c15dff-0dc0-a486-d630-a7f0ffc71d7a!AdaptivePayments!10.72.109.99![]
      X-Paypal-Operation-Name: 
      - PreapprovalDetails
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/ap}AdaptivePayments"
      X-Ebay-Soa-Message-Protocol: 
      - NONE
      X-Ebay-Soa-Response-Data-Format: 
      - JSON
      X-Paypal-Service-Version: 
      - 1.0.0
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-01-07T08:37:43.545-08:00\",\"ack\":\"Success\",\"correlationId\":\"ed9ef039712bd\",\"build\":\"4110101\"},\"approved\":\"false\",\"cancelUrl\":\"http:\\/\\/example.com\\/cancel\",\"curPayments\":\"0\",\"curPaymentsAmount\":\"0.00\",\"curPeriodAttempts\":\"0\",\"currencyCode\":\"USD\",\"dateOfMonth\":\"0\",\"dayOfWeek\":\"NO_DAY_SPECIFIED\",\"maxTotalAmountOfAllPayments\":\"2000.00\",\"paymentPeriod\":\"NO_PERIOD_SPECIFIED\",\"pinType\":\"NOT_REQUIRED\",\"returnUrl\":\"http:\\/\\/example.com\\/return\",\"startingDate\":\"2013-01-08T00:00:00.000Z\",\"status\":\"ACTIVE\",\"displayMaxTotalAmount\":\"false\"}"
  recorded_at: Mon, 07 Jan 2013 16:37:43 GMT
recorded_with: VCR 2.3.0
