--- 
http_interactions: 
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/Invoice/MaskInvoiceAsPaid
    body: 
      encoding: UTF-8
      string: "{\"invoiceID\":\"INV2-G7RE-BXWZ-2UXW-YN8G\",\"payment\":null,\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 500
      message: Internal Server Error
    headers: 
      X-Paypal-Message-Protocol: 
      - NONE
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Ebay-Soa-Request-Id: 
      - 13cb0223-8d20-a486-d637-6877ffffeb08!Invoice!10.72.109.99![]
      X-Paypal-Operation-Name: 
      - MaskInvoiceAsPaid
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/pt}Invoice"
      X-Paypal-Service-Version: 
      - 1.0.0
      X-Paypal-Error-Response: 
      - "TRUE"
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: Internal server error. Please check the server logs for details
  recorded_at: Wed, 06 Feb 2013 15:31:38 GMT
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/Invoice/CreateInvoice
    body: 
      encoding: UTF-8
      string: "{\"invoice\":{\"merchantEmail\":\"chardy_1345003248_per@gmail.com\",\"payerEmail\":\"chardy_1345003165_per@gmail.com\",\"itemList\":{\"item\":[{\"name\":\"iPhone 5\",\"quantity\":1,\"unitPrice\":1000.0}]},\"currencyCode\":\"USD\",\"paymentTerms\":\"Net30\"},\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Paypal-Message-Protocol: 
      - NONE
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Ebay-Soa-Request-Id: 
      - 13d11c1c-7bd0-a486-d657-3927ffffe343!Invoice!10.72.109.101![]
      X-Paypal-Operation-Name: 
      - CreateInvoice
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/pt}Invoice"
      X-Paypal-Service-Version: 
      - 1.0.0
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-02-25T06:29:06.219-08:00\",\"ack\":\"Success\",\"correlationId\":\"b6abc28f1db01\",\"build\":\"4120519\"},\"invoiceID\":\"INV2-DKZP-YC2F-L7MZ-9RKM\",\"invoiceNumber\":\"0129\",\"invoiceURL\":\"https:\\/\\/www.sandbox.paypal.com\\/us\\/cgi-bin\\/?cmd=_inv-details&id=INV2-DKZP-YC2F-L7MZ-9RKM\",\"totalAmount\":\"100000\"}"
  recorded_at: Mon, 25 Feb 2013 14:29:06 GMT
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/Invoice/MarkInvoiceAsPaid
    body: 
      encoding: UTF-8
      string: "{\"invoiceID\":\"INV2-DKZP-YC2F-L7MZ-9RKM\",\"payment\":null,\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Paypal-Message-Protocol: 
      - NONE
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Ebay-Soa-Request-Id: 
      - 13d11c1d-2330-a486-d661-2431ffffe31f!Invoice!10.72.109.102![]
      X-Paypal-Operation-Name: 
      - MarkInvoiceAsPaid
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/pt}Invoice"
      X-Paypal-Service-Version: 
      - 1.0.0
      X-Paypal-Error-Response: 
      - "TRUE"
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-02-25T06:29:08.243-08:00\",\"ack\":\"Failure\",\"correlationId\":\"3e04a7b61ced3\",\"build\":\"4120519\"},\"error\":[{\"errorId\":\"570067\",\"domain\":\"PLATFORM\",\"subdomain\":\"Application\",\"severity\":\"Error\",\"category\":\"Application\",\"message\":\"A draft invoice cannot be paid\"}]}"
  recorded_at: Mon, 25 Feb 2013 14:29:08 GMT
recorded_with: VCR 2.3.0
