--- 
http_interactions: 
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/Invoice/CreateInvoice
    body: 
      encoding: UTF-8
      string: "{\"invoice\":{\"merchantEmail\":\"chardy_1345003248_per@gmail.com\",\"payerEmail\":\"chardy_1345003165_per@gmail.com\",\"itemList\":{\"item\":[{\"name\":\"iPhone 5\",\"quantity\":1,\"unitPrice\":1000.0}]},\"currencyCode\":\"USD\",\"paymentTerms\":\"Net30\"},\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Paypal-Message-Protocol: 
      - NONE
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Ebay-Soa-Request-Id: 
      - 13d0f64b-df30-a486-d637-6877ffffd7ba!Invoice!10.72.109.99![]
      X-Paypal-Operation-Name: 
      - CreateInvoice
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/pt}Invoice"
      X-Paypal-Service-Version: 
      - 1.0.0
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-02-24T19:28:14.592-08:00\",\"ack\":\"Success\",\"correlationId\":\"6c063d60495b6\",\"build\":\"4120519\"},\"invoiceID\":\"INV2-DAQG-8JAW-CHAL-TU8K\",\"invoiceNumber\":\"0125\",\"invoiceURL\":\"https:\\/\\/www.sandbox.paypal.com\\/us\\/cgi-bin\\/?cmd=_inv-details&id=INV2-DAQG-8JAW-CHAL-TU8K\",\"totalAmount\":\"100000\"}"
  recorded_at: Mon, 25 Feb 2013 03:28:14 GMT
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/Invoice/CreateAndSendInvoice
    body: 
      encoding: UTF-8
      string: "{\"invoice\":{\"merchantEmail\":\"chardy_1345003248_per@gmail.com\",\"payerEmail\":\"chardy_1345003165_per@gmail.com\",\"itemList\":{\"item\":[{\"name\":\"iPhone 5\",\"quantity\":1,\"unitPrice\":1000.0}]},\"currencyCode\":\"USD\",\"paymentTerms\":\"Net30\"},\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: [...]
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/Invoice/MarkInvoiceAsPaid
    body: 
      encoding: UTF-8
      string: "{\"invoiceID\":\"INV2-9NDM-TLKJ-RRNJ-KUGL\",\"payment\":{\"method\":\"Cash\",\"date\":\"2013-02-25\"},\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Paypal-Message-Protocol: 
      - NONE
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Ebay-Soa-Request-Id: 
      - 13d11c1a-0f80-a486-d657-3927ffffe346!Invoice!10.72.109.101![]
      X-Paypal-Operation-Name: 
      - MarkInvoiceAsPaid
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/pt}Invoice"
      X-Paypal-Service-Version: 
      - 1.0.0
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-02-25T06:28:55.628-08:00\",\"ack\":\"Success\",\"correlationId\":\"b6fe161b1bc41\",\"build\":\"4120519\"},\"invoiceID\":\"INV2-9NDM-TLKJ-RRNJ-KUGL\",\"invoiceNumber\":\"0128\",\"invoiceURL\":\"https:\\/\\/www.sandbox.paypal.com\\/us\\/cgi-bin\\/?cmd=_inv-details&id=INV2-9NDM-TLKJ-RRNJ-KUGL\"}"
  recorded_at: Mon, 25 Feb 2013 14:28:55 GMT
recorded_with: VCR 2.3.0
