--- 
http_interactions: 
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/AdaptivePayments/Preapproval
    body: 
      encoding: UTF-8
      string: "{\"clientDetails\":{\"ipAddress\":\"234.8.8.18\",\"deviceId\":\"123456\",\"applicationId\":\"PP\"},\"startingDate\":\"2013-01-18T00:00:00Z\",\"currencyCode\":\"USD\",\"maxTotalAmountOfAllPayments\":2000.0,\"cancelUrl\":\"http://example.com/cancel\",\"returnUrl\":\"http://example.com/return\",\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Ebay-Soa-Request-Id: 
      - 13c4bbd1-8ec0-a486-d636-a986fff995af!AdaptivePayments!10.72.109.99![]
      X-Paypal-Operation-Name: 
      - Preapproval
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/ap}AdaptivePayments"
      X-Ebay-Soa-Message-Protocol: 
      - NONE
      X-Ebay-Soa-Response-Data-Format: 
      - JSON
      X-Paypal-Service-Version: 
      - 1.0.0
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-01-17T19:39:09.712-08:00\",\"ack\":\"Success\",\"correlationId\":\"fed3a974b72bc\",\"build\":\"4923149\"},\"preapprovalKey\":\"PA-89578182UL033944H\"}"
  recorded_at: Fri, 18 Jan 2013 03:39:09 GMT
recorded_with: VCR 2.3.0
