--- 
http_interactions: 
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/AdaptivePayments/Pay
    body: 
      encoding: UTF-8
      string: "{\"receiverList\":{\"receiver\":[{\"email\":\"chardy_1345003248_per@gmail.com\",\"amount\":40.0}]},\"currencyCode\":\"USD\",\"cancelUrl\":\"http://example.com/cancel\",\"returnUrl\":\"http://example.com/thank_you\",\"actionType\":\"CREATE\",\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Ebay-Soa-Request-Id: 
      - 13c133ee-73b0-a486-d630-a7f0ffc769ba!AdaptivePayments!10.72.109.99![]
      X-Paypal-Operation-Name: 
      - Pay
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/ap}AdaptivePayments"
      X-Ebay-Soa-Message-Protocol: 
      - NONE
      X-Ebay-Soa-Response-Data-Format: 
      - JSON
      X-Paypal-Service-Version: 
      - 1.0.0
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-01-06T20:22:35.842-08:00\",\"ack\":\"Success\",\"correlationId\":\"bfde00f46711a\",\"build\":\"4110101\"},\"payKey\":\"AP-6JR76948P48937118\",\"paymentExecStatus\":\"CREATED\"}"
  recorded_at: Mon, 07 Jan 2013 04:22:36 GMT
- request: 
    method: post
    uri: https://svcs.sandbox.paypal.com/AdaptivePayments/SetPaymentOptions
    body: 
      encoding: UTF-8
      string: "{\"payKey\":\"AP-6JR76948P48937118\",\"displayOptions\":{\"emailHeaderImageUrl\":\"http://example.com/email_header.png\",\"emailMarketingImageUrl\":\"http://example.com/email_marketing.png\",\"businessName\":\"Dynosoft\"},\"senderOptions\":{\"requireShippingAddressSelection\":false,\"referrerCode\":\"RRRR\"},\"receiverOptions\":[{\"description\":\"Testing\",\"customerId\":\"CUST_A\",\"invoiceData\":{\"item\":[{\"name\":\"Item A\",\"identifier\":\"AA\",\"price\":30.0,\"itemPrice\":15.0,\"itemCount\":2}],\"totalTax\":10.0,\"totalShipping\":0.0},\"receiver\":{\"email\":\"chardy_1345003248_per@gmail.com\"}}],\"requestEnvelope\":{\"errorLanguage\":\"en_US\",\"detailLevel\":\"ReturnAll\"}}"
    headers: 
      X-Paypal-Security-Userid: 
      - chardy_api1.gmail.com
      X-Paypal-Security-Password: 
      - "8DTSWBZC7GDR3T4X"
      X-Paypal-Security-Signature: 
      - AG-8mOpuFhFyFOYHlaTUYn3Syf15AWJKRnfHMVsmCtC3DK51-ENEPqLS
      X-Paypal-Request-Data-Format: 
      - JSON
      X-Paypal-Response-Data-Format: 
      - JSON
      X-Paypal-Application-Id: 
      - APP-80W284485P519543T
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Ebay-Soa-Request-Id: 
      - 13c133ee-f5f0-a486-d630-a7f0ffc769b9!AdaptivePayments!10.72.109.99![]
      X-Paypal-Operation-Name: 
      - SetPaymentOptions
      X-Paypal-Service-Name: 
      - "{http://svcs.paypal.com/types/ap}AdaptivePayments"
      X-Ebay-Soa-Message-Protocol: 
      - NONE
      X-Ebay-Soa-Response-Data-Format: 
      - JSON
      X-Paypal-Service-Version: 
      - 1.0.0
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"responseEnvelope\":{\"timestamp\":\"2013-01-06T20:22:37.739-08:00\",\"ack\":\"Success\",\"correlationId\":\"18f4414d67942\",\"build\":\"4110101\"}}"
  recorded_at: Mon, 07 Jan 2013 04:22:38 GMT
recorded_with: VCR 2.3.0
